{% extends 'base.html' %}

{% block content %}
<div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for movie in f_movies %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card h-100 w-100" style="background-color: gray">
              <div class="embed-responsive embed-responsive-16by9">
                <img alt="#" class="mx-auto d-block" src="{{ movie.poster }}"/>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{movie.title}} ({{movie.year}})</h5>
              <p class="card-text">{{movie.description|truncatechars:180 }}</p>
              <a href="{% url 'movie_details' movie.slug %}" class="btn btn-warning">Details</a>
              <a href="{% url 'favourite' movie.id %}" class="btn btn-light">Remove</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}